@charset "UTF-8";

body {margin:0;	padding:0; background-color:bisque;}
a:link{text-decoration:none; color:gray;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}


/* admin_login ui */

#aLogin_back {
	height: -webkit-fill-available;
	display:flex;
	background-image:url(../img/background_img/adm_back.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}	

#aLogin_wrap{
	width:340px; height:160px;
	margin:auto auto;
}
#aLogin_wrap .aLogin_title{
	margin:20px 0 20px 96px; width:140px; font-size:16px;
	text-align:center; padding:2px;
	color:#fff;
	z-index:10;
}
#aLogin_t{
	margin:10px auto;
	padding-left:25px;
	z-index:10;
}
#aLogin_t th{
	color:#fff;
}

/* admin_main */

#adm_main_wrap {
	width:900px;
	height:auto;
	margin: 0 auto;
	padding:30px 20px 10px 20px;
	background-color:#fff;
	min-height:900px;
}

#adm_main_header {
	display:flex;
	justify-content:center;
	margin-bottom:30px;
}

#adm_main_logo {
	display:inline-block;
}

#adm_main_logo img {
	width:210px;
	height:100px;
}

#adm_main_welcome {
	display:flex;
	justify-content:flex-end;
}

#adm_main_menu {
	padding-top:20px;
	display:inline-block;
}

#adm_main_menu ul {
	margin-top:17px;
}

#adm_main_menu li {
	list-style:none;
	display:inline;
	margin: 5px 8px;
}

#adm_main_body {
	margin:50px 30px;
	min-height:500px;
}

#adm_main_cont {
	min-width:700px;
}
#adm_main_cont h2{
	margin-top:0px;
	font-size:15px;
	text-align: center;
}

.adm_table_wrap {
	display:flex;
	justify-content:center;
}

.adm_main_table {
	font-size:13px;
	text-align:center;

}

.adm_main_table th{
	text-align:left;
	min-width:300px;
	max-width:300px;
	border-bottom:dotted 1px gray;
	padding:5px;
}
.adm_main_table td{
	min-width:120px;
	max-width:120px;
	border-bottom:dotted 1px gray;
	padding:5px;
	color:gray;
}

.adm_main_notice {
	padding: 20px;
    width: 650px;
    background-color: aliceblue;
    margin: 0px auto;
}

.adm_main_accuse {
	padding: 20px;
    width: 650px;
    background-color: aliceblue;
    margin: 40px auto;
}

.adm_main_inquire {
	padding: 20px;
    width: 650px;
    background-color: aliceblue;
    margin: 0px auto;
}

#adm_main_footer {
    border-top: dotted 2px gray;
    width: 800px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.adm_footer_div img {
	width:210px;
	height:65px;
}

.adm_footer_div p {
	margin:3px 3px;
	font-size:12px;
}


/* admin_notice (공지사항) */
#adm_notice_wrap {
	display:flex;
	justify-content:center;
}

#adm_notice_table {
	min-width:700px;
}








































