@charset "UTF-8";

#book_create_list {
	border: 1px solid black;
	min-height: calc(100vh-50px);
}

#post_list {
	border: 1px solid red;
	margin: 10px;
	display: inline-block;
	width: 40%;
	padding-left: 0;
}

#book_create_function {
	display: inline-block;
	width: 15%;
	text-align: center;
	vertical-align: middle;
}

.btn {
	margin: 10px 50px;
}

#book_create_make {
	display: inline-block;
	width: 40%;
	border: 1px solid blue;
	height: 383px;
}

.post_list_cont{
	border:1px solid black;
	margin:5px;
	padding:5px;
}

/* input[type="checkbox"]{ */
/* 	display:none; */
/* } */
.ui-state-default{
	list-style: none;
}
.selected{
	background-color: #ff80ff;
}