@charset "UTF-8";
/* Category.jsp */

body{
	background-color: #fafafa;
	min-height: 100vh;
}

#cat_empty{
	width:940px;
	height:auto;
	text-align:center;
	margin:0 auto;
	background-color: #FAFAFA;
	margin-bottom:100px;
	margin-top: 37px;
}
@-webkit-keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}
@keyframes sparkle {
  from {
    background-position: 0% 100%;
  }
 to {
    background-position: 200% 100%;
  }
}
#cat_title_name{
  background: white;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  font-size: 31px;
  color: #666;
  font-weight:700;
  margin-top: 10px;
  margin-left: 359px;
  text-align:center;
  margin:0px auto;
  vertical-align:middle;
  
}
#cat_title_name:before{
  -webkit-animation: sparkle 4s infinite linear;
  animation: sparkle 4s infinite linear;
  background: linear-gradient(90deg, #7FEFBD 0%, #FFF689 11%, #EC0B43 22%, #7FEFBD 33%, #FFF689 44%, #EC0B43 55%, #7FEFBD 66%, #FFF689 77%, #EC0B43 88%, #7FEFBD 100%);
  background-size: 300% 100%;
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  z-index: -1;
  -webkit-transform: scale(0.99) translateY(3px);
}
.cat_write_top{
	text-decoration:none;
}
.cat_writer_a{
	text-decoration:none;
}
.cat_writer_name{
	margin-top:10px;
	text-decoration:none;
	font-size:14px;
	color:#666;
}
.cat_face_img{
	width:50px;
	height:50px;
	border-radius:50%;
	border:1px solid #ddd;
	justify-content:center;
	margin:0 auto;
	margin-top:10px;
	object-fit:cover;
	border-radius:50%;
}
.cat_writer_keyword{
	height: 20px;
	margin-top:3px;
	border-radius:25px;
	background-color:transparent;
	color:#9d9a9a;
	border: 1px solid #ddd;
	font-size: 11px;
	outline: none;
	cursor: pointer;
}
.cat_writer_keyword_div{
	margin-top:5px;
}
#cat_writer_block{
	width:940px;
	height:250px;
	min-height:200px;
	border:0px solid #333;
	/*color:#FBA621;*/
	margin-top:30px;
	margin-bottom: 100px;
}
#cat_writer_title{
	font-family:"NanumMyeongJo";
	font-weight:bold;
	height: 42px;
	width:910px;
	font-size:26px;
	text-align:left;
	margin:0px 0px;
	vertical-align:middle;
	color:#000000;
	text-decoration:none;
	background-color:#ffffff;
	border:0px;
	align:center;
	padding-left:3px;
	margin-top: 5px;
	line-height: 42px;
}	
#cat_writer_list{
	display:flex;
	justify-content:space-between;
	text-decoration:none;
	text-align: center;
}
#cat_write_count{
	margin-top:10px;
	width:120px;
	height:20px;
	color:#bbb;
	text-decoration:none;
	font-size:12px;
	text-align: center;
	margin: 10px auto 0px auto;
}
#cat_sub_count{
	width:120px;
	height:20px;
	color:#bbb;
	text-decoration:none;
	font-size:12px;
	margin:0px auto;
	line-height:20px;
}
#cat_writer_list1{
	background-color: #FFF;
	width: 220px;
	height:200px;
	margin: 10px 5px;
	justify-content:center;
	text-decoration: none;
	margin-left: px;
	border:1px solid white;
}
#cat_writer_list1:hover{
	border:1px solid #ffad86;
	color:#ffad86;
}
.cat_writing_block{
	width:940px;
	height:auto;
	justify-content:center;
	display:flex;
	margin-top:20px;
	border:0px solid #00ffff;
	margin-bottom:60px;
}
.cat_writing{
	width: 700px;
	height:300px;
	justify-content:center;
	margin: 0px auto;
	position:relative;
	background-color: #FFF;
}
.cat_writing_img_div{
	position:absolute;
	top:0;
	z-index:1;
}
.cat_writing_img{
	width:700px;
	height:300px;
	object-fit:cover;
	filter: brightness(50%);
	-webkt-filter: brightness(50%);
}
.cat_writing_top{
	width:700px;
	height:230px;
	margin:0px auto;
	position:absolute;
	display: flex;
	top:0;
	z-index:2;
	word-break:break-all;
	justify-content: center;
}
.cat_write_title{
	color:#efefef;
	width: 500px;
	font-size:28px;
	position: absolute;
	margin-top: 50px;
	text-align:center;
}
.cat_story_cont{
	color:#efefef;
	width: 500px;
	height: 35px;
	position: absolute;
	font-size:15px;
	text-align:center;
	transform: translateY(130px);
	overflow: hidden;
}
.cat_writing_bottom{
	width:700px;
	height:70px;
	margin-top:230px;
	position:absolute;
	top:0;
}
.cat_writing_button{
	height:28px;
	border-radius:25px;
	z-index:3;
	background-color:transparent;
	color:#efefef;
	border:1.5px solid #bbb;
	padding:4px 10px;
	margin-top:15px;
	cursor:pointer;
	
}
.cat_writing_button:focus{
	outline:none;
}
.cat_writing_button:active{
	background-color:#F57C68;
}
.cat_writing_button b{
	line-height:18px;
}
#cat_writing_button:focus{
	outline:none;
}
.cat_write_btn{
	width: 120px;
	height: 40px;
	margin-top: 25px;
	margin: 15px 3px 5px 0px;
	outline: none;
	border: 1px solid orange;
	border-bottom:none;
	border-radius: 15px 15px 0px 0px;
	background-color: rgb(255, 250, 250);
	cursor: pointer;
	float: left;
}
.cat_book_btn{
	width: 120px;
	height: 40px;
	margin-top: 25px;
	margin: 15px 0px 5px 5px;
	outline: none;
	border: 1px solid orange;
	border-bottom:none;
	border-radius: 15px 15px 0px 0px;
	background-color: #ffdfbf;
	cursor: pointer;
	float: left;
}
.cat_book_block{
	width:940px;
	min-width:940px;
	justify-content:flex-start;
	flex-wrap: wrap;
	margin-top:20px;
	border:0px solid #00ffff;
	margin-bottom:60px;
}
.cat_book{
	width:260px;
	height:390px;
	margin:10px 10px;
	padding: 0px 10px;
	position: relative;
	cursor:pointer;
}
.cat_book_img{
	width:260px;
	height:390px;
	object-fit: cover;
	filter: brightness(80%);
}
.cat_book_title{
	height:75px;
	color: #3d3d3d;
	font-size: 16px;
	margin-top:45px;
	text-align:center;
	font: #333333;
}
.cat_story_writer{
    font-size:12px;
    font-weight:bold;
    position: absolute;
    color:#ffffff;
    transform: translateX(-50%);
    top: 90%;
    left: 50%
}
.cat_story_writer i{
	font-family: "NanumMyeongjo","serif";
/* 	color:#ff8040; */
}
.cat_book_inner{
	width:150px;
	height:180px;
	background-color:#ffffffe0;
	margin:auto auto;
	position: absolute;
	top:25%;
	left:25%;
	
}
.cat_jamong_book{
	display: block;
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #333;
}
.cat_inner_line{
	width: 11px;
    position: absolute;
    top: 0;
    left: 11px;
    height: 100%;
}
.cat_inner_line:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: rgba(255,255,255,.1);
    content: '';
}
.cat_inner_line:before {
    position: absolute;
    top: 0;
    right: 2px;
    width: 1px;
    height: 100%;
    background: rgba(0,0,0,.05);
    content: '';
}
