#member_modify_main_wrap {
/* 	padding: calc(( 100vh - 580px)/2) 0;
 */    
 background-size: cover;
}
* { font : 14px verdana }
#member_modify_main_div {
	background-color: white;
	width: 777px;
	height: 700px;
	margin: 0 auto;
}

#member_modify_h4_div{
	margin-bottom:20px;
	margin-top:20px;
	border-bottom: 1px solid gray;	
}

#member_modify_h4{
	display: inline-block;
	text-align: left;
	margin-left: 57px;
}

#member_modify_sub_div{
	height: 450px;
	width: 600px;	
	margin-left: 60px;
}

#member_modify_table{
	text-align: left;	
	display: inline-block;
	border-spacing: 0 20px;
}
#member_modify_table th{
	padding-bottom: 20px;
}
#member_modify_table td{
	padding-left: 68px;	
}
.member_modify_text { /* 인풋박스 설정 */
	width: 200px;
	height: 15px;
	outline: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	text-align: left;
	padding-left:10px;
	padding-bottom:5px;
	border-bottom:1px solid orange;
}

.member_modify_text.birth{
	width: 40px;
	height: 15px;
	outline: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	text-align: left;
	padding-left:10px;
	border-bottom:1px solid orange;
	padding-bottom:5px;
	font-size : 14px;
}

.member_modify_text.tel{
	width: 42px;
	height: 15px;
	outline: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	text-align: left;
	padding:0 10px;
	border-bottom:1px solid orange;
	padding-bottom:5px;
	font-size : 14px;
}
	
.member_modify_text.email{
	width: 98px;
	height: 15px;
	outline: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	text-align: left;
	padding:0 10px;
	border-bottom:1px solid orange;
	padding-bottom:5px;
	font-size : 14px;
	font-family: verdana;
}

#member_modify_select_gender {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
    width: 120px;
	height: 15px;
	outline: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	cursor: pointer;
}

/* #F5F0F0 셀렉트박스에 넣을 회색 */
.member_modify_email_class {
	display: inline;
}

#member_modify_certified_btn {
	width: 25px;
	height: 25px;
	background-color: lightblack;
	border: solid 2px lightblack;
	outline: 0;
	border-radius: 100%;
	cursor: pointer;
	margin-left:5px;
	margin-bottom: 5px;
}

/* 가져온 css */



#member_modify_emailcheck_btn{
	border: solid 2px orange;
	width: 200px;
	height: 50px;
	background-color: white;
	cursor: pointer;
	outline: 0;
	margin: 0px 300px;
}

#member_modify_next_btn_div{
	border-top: 1px solid gray;
	margin-top: 50px;
	text-align: right;
}

#member_modify_p{
	margin-right: 398px;
}

#member_modify_next_btn {
	border: solid 1px gray;
	width: 100px;
	height: 30px;
	background-color: white;
	cursor: pointer;
	outline: 0;
}

.member_modify_error {
	width: 200px;
	height: 15px;
	padding:5px;
	color: #ff0000;
}