@charset "UTF-8";

/* 검색 결과 페이지 해더 부분 */
#search_header {
	width: 100%;
	height: 133px;
	background: #fff;
	margin-top: 1px;
}

#search_keyword {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 60px;
	font-size: 32px;
	border: 0px;
	text-align: center;
	font-family: Georgia, "Malgun Gothic", serif;
	display: block;
	outline: none;
	border-bottom: 2px solid #ffdabb;
	font-family: Georgia, "Malgun Gothic", serif;
	margin-top: 25px;
}

#search_type {
	width: 870px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.btn.non-select {
	background-color: #fee2c0;
	color: #a1a1a1;
}

.btn.type_btn {
	width: 120px;
	margin-top: 25px;
	border-radius: 15px 15px 0px 0px;
	background-color: #fee2c0;
}

.btn.type_btn.post {
	width: 120px;
	margin-top: 25px;
	border-bottom: thick;
	border-bottom-color: #fff;
	border-radius: 15px 15px 0px 0px;
	background-color: #fff;
}

.btn.type_btn.work {
	width: 120px;
	margin-top: 25px;
	border-bottom: thick;
	border-bottom-color: #fff;
	border-radius: 15px 15px 0px 0px;
	background-color: #fff;
}

.btn.type_btn.author {
	width: 120px;
	margin-top: 25px;
	border-bottom: thick;
	border-bottom-color: #fff;
	border-radius: 15px 15px 0px 0px;
	background-color: #fff;
}

.btn {
	width: 80px;
	height: 40px;
	border-radius: 22px;
	border: 1px solid orange;
	margin: 5px 0px 5px 0px;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	color: #363636;
}

.btn:hover {
	border: 3px solid orange;
}

.btn:active {
	background-color: #fedca9;
}
/*배경 이미지*/
#search_result_contents {
	background-image: url("../img/background_img/login_page.png");
	background-repeat: repeat;
}
/* '글' 검색 결과 */
#search_result_post {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid orange;
	background: #fff;
}

#search_result_post_type {
	margin: 5px 5px 5px 760px;
}

#search_result_post_main {
	margin: 9px 9px 130px 9px;
}

#search_result_post_main .post_cont {
	width: 800px;
	height: 230px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #c0c0c0;
	border-bottom: 2px solid #c0c0c0;
}

#post_img {
	width: 200px;
	height: 130px;
	object-fit: cover;
	filter: brightness(50%);
	display: inline-block;
	margin: 33px 0px;
}

#post_text {
	display: inline-block;
	width: 500px;
	padding: 25px;
}

#post_title {
	font-weight: bold;
	font-size: 25px;
	width: 450px;
	text-align: left;
}

#post_cont {
	width: 500px;
	height: 85px;
	padding: 4px;
	font-size: 15px;
	line-height: 1.5;
}

#post_writer {
	font-size: 14px;
	text-align: right;
	padding: 2px;
}

#post_tag {
	font-size: 12px;
	text-align: right;
	padding: 2px;
}
/* '글' 검색 결과 */

/* '작품' 검색 결과 */
#search_result_work {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid orange;
	background: #fff;
}

#search_result_work_type {
	margin: 25px 15px 15px 800px;
	width: 95px;
}

#search_result_work_select {
	width: 95px;
	height: 20px;
	font-size: 13px;
	text-align: center;
}

#search_result_work_main {
	width: 922px;
	margin: 0px 9px 130px 9px;
	flex-wrap: nowrap;
}

#search_result_work_main .work_cont {
	display: inline-block;
	height: 390px;
	margin: 16px 20px;
	position: relative;
	width: 260px;
	border: 2px solid #dadada;
}

#work_img {
	width: 260px;
	height: 390px;
	object-fit: cover;
	position: relative;
	filter: brightness(50%);
}

.work_cont_view {
	position: absolute;
	display: inline;
	text-align: center;
	height: 390px;
	width: 260px;
	left: 50%;
	transform: translate(-50%);
}

.work_cont_view_top {
	height: 230px;
	margin: 0 40px;
	margin-top: 85px;
	background: #fff;
	color: #333;
}

.work_cont_view_top strong {
	display: block;
	margin: 0;
	padding: 0px 15px;
	padding-top: 30px;
	font-size: 23px;
	height: 140px;
}

.work_cont_view_top span {
	display: block;
	margin: 0;
	padding: 0px 15px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}

.work_cont_view_bottom {
	display: block;
	height: 40px;
	margin: 0;
	padding: 0 15px;
	padding-top: 45px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}

#work_title {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%);
	width: 220px;
	height: auto;
	z-index: 2;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#work_author {
	position: absolute;
	top: 73%;
	right: 2.5em;
	color: white;
}
/* '작품' 검색 결과 */

/* '작가' 검색 결과 */
#search_result_author {
	width: 940px;
	height: auto;
	border: 1px solid orange;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background: #fff;
}

#search_result_author_select {
	width: 110px;
	height: 20px;
	font-size: 13px;
	text-align: center;
}

#search_result_author_type {
	width: 110px;
	margin: 25px 10px 10px 790px;
}

#search_result_author_main {
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 130px;
}

#search_result_author_main .author_cont {
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#search_result_author_profile {
	width: 410px;
	height: 150px;
	border: 1px solid orange;
	display: inline-block;
	border: 1px solid orange;
	display: inline-block;
	margin: 17px;
}

#search_result_author_profile_img {
	object-fit: cover;
	width: 110px;
	height: 110px;
	border-radius: 100%;
	display: inline-block;
	padding: 4px;
	margin-bottom: 10px;
}

#search_result_author_profile_info {
	display: inline-block;
	width: 270px;
	height: 100px;
	padding: 4px;
}

#search_result_author_name {
	padding: 4px;
	font-size: 20px;
}

#search_result_author_introduce {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	width: 260px;
	height: 80px;
	padding: 4px;
	line-height: 20px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

#search_result_author_tag {
	font-size: 14px;
	margin: 4px 4px 4px 150px;
	padding: 4px;
}
/* '작가' 검색 결과 */