@charset "UTF-8";
/* body */
body{
	font-family:'NanumGothic';
	overflow-x:hidden;
	animation: fadein 1s;
	-webkit-animation: fadein 1s;
	outline:0px;
}
h1, h2, h3, h4{
	font-weight:normal;
	margin:0px auto;
}
/* 타이틀 부분 */
#write_title{
	width:100%;
	position:relative;
	border-bottom:1px solid #d0d0d0;
	outline:0px;
}
#write_title_parent_center{
	position:absolute;
	width:700px;
	top:auto;
	bottom:50%;
	right:50%;
	z-index:2;
	transform: translate(50%,50%);
    -webkit-transform: translate(50%,50%);
	text-align:center;
	transition: padding 200ms;
	-webkit-transition: padding 200ms;
}
::selection{ /* 선택 드래그 */
	background:RGB(245,124,104,0.6);
}
#write_title_parent_bottom{
	content:"제목을 입력하세요";
	position:absolute;
	width:700px;
	bottom:20px;
	right:50%;
	z-index:2;
	transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
	text-align:left;
}
.write_main_title:empty::before{
	content:"제목을 입력하세요";
	font-size:30pt;
	cursor:text;
	color:#CCC;
	font-family: 'NanumMyeongjo','serif';
	opacity:1;
}
.write_sub_title:empty::before{
	content:"소제목을 입력하세요";
	size:12pt;
	cursor:text;
	color:#ccc;
	font-family: 'NanumMyeongjo','serif';
	opacity:1;	
}
.write_main_title{
	font-family:'NanumMyeongjo','serif';
	font-size:30pt;
	display:inline-block;
	min-width:100px;
	max-width:700px;
	margin:0px;
	padding:0px;
	word-wrap:break-word;
}
.write_sub_title{
	font-family:'NanumMyeongjo','serif';
	padding-top:10px;
	display:inline-block;
	min-width:100px;
	max-width:700px;
}
.write_bg_title_option:empty::before{
	color:#FFF;
	opacity:0.8;
}
.write_bg_title_option{
	color:#FFF;
}
[contenteditable], [contenteditable]:focus{
	outline:0px; /* 컨텐츠에디터블 박스포커스 파란 선 제거 */
}
h1[Attributes Style] {
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}
#write_title_icon{
	position:absolute;
	width:41px;
	top:50px;
	left:50%;
	z-index:5;
	transform:translateX(450px);
	-webkit-transform:translateX(450px);
	transition: padding 200ms;
	-webkit-transition: padding 200ms;
}
button.write_icon_btn,button.write_font_dropdown_btn{ /* ward */
	outline:0px;
	padding:2px 0px;
	margin:10px 0px;
	border:0;
	border-left:1px solid #C0C0C0;
	display:inline-block;
	width:26px;
	height:26px;
	text-align:center;
	cursor:pointer;
	z-index:0;
	background-clip:padding-box;
	background-color:rgba(255,255,255,0);
	vertical-align: top;
}
.write_button_wrap button.write_icon_btn{
	border:0px;
}
.write_cover_delete{
	display:none;
}
/* 상단 타이틀부 배경색 지정 아이콘 색상 변경값 */
#write_coverimg_delete_icon{
	outline:none;
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/w_del.png);
}
#write_title_coverimage_bg{
	outline:none;
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/w_image.png);
}
#write_title_background_bg{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/w_background.png);
}
#write_title_center_bg{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/w_center.png);
}
#write_title_bottom_bg{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/w_bottom.png);
}
#write_coverimg_delete_icon:hover{
	outline:none;
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_del.png);
}
#write_title_coverimage_bg:hover{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_image.png);
}
#write_title_background_bg:hover{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_background.png);
}
#write_title_center_bg:hover{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_center.png);
}
#write_title_bottom_bg:hover{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_bottom.png);
}
/* 상단 타이틀 아이콘부분 기본값 */
#write_title_background_icon{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/b_background.png);
}
#write_title_center_icon{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/b_center.png);
}
#write_title_bottom_icon{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/b_bottom.png);	
}
.write_file_form{
	background:0px 0px;
	height:40px;
	left:0px;
	top:0px;
	overflow:hidden;
	position:absolute;
	width:100%;
}
.write_file_form input{
	margin-top:10px;
	outline:0px;
	width:30px;
	height:30px;
	cursor:pointer;
	text-indent:-9999px;

}
#write_cover_file{
	outline:none;
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/b_image.png);
} 
#write_cover_file:hover{	
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_image.png);
}
/* 상단 타이틀 아이콘부분 마우스 오버 */
#write_title_background_icon:hover{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_background.png);
}
#write_title_center_icon:hover{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_center.png);
}
#write_title_bottom_icon:hover{
	background-position:-2px 0px;
	display:inline-block;
	width:25px;
	height:25px;
	
	background-image:url(../img/writepage_icon/j_bottom.png);	
}
/* 타이틀 부분 커버이미지 부분 */
#write_title_cover_img{
	display:block;
	background-size: cover;
	background-position: 50% 50%;
	position:absolute;
	top:0px;
	left:0px;
	outline:0px;
	width:100%;
	z-index:1;
	transition: height,opacity,200ms;
	-webkit-transition: height,opacity,200ms;
}
/* 타이틀부분 배경색 변경부분 */
#write_title_area_bg{
	position:absolute;
	top:0px;
	left:0px;
	outline:0px;
	width:100%;
	transition: height,opacity,200ms;
	-webkit-transition: height,opacity,200ms;
}
#write_background_change_btn{
	outline:0px;
	position:relative;
	height:450px;
	display:none;
}
.write_title_prev_btn{
	position:absolute;
	width:100%;
	height:420px;
	left:-75%;
	cursor:pointer;
	z-index:3;
}
.write_title_prev_btn:before{
	background-image:url(../img/writepage_icon/prev_btn.png);
	background-repeat:no-repeat;
	position:absolute;
	content:"";
	width:100px;
	height:100px;
	left:77%;
	bottom:150px;
	opacity:0.2;
	animation: fadein 0.5s;
	-webkit-animation: fadein 0.5s;
}
.write_title_prev_btn:hover{
	filter:brightness(60%);
	animation: fadein 0.5s;
	-webkit-animation: fadein 0.5s;
}
.write_title_next_btn{
	position:absolute;
	width:21%;
	height:420px;
	left:78.5%;
	z-index:3;
	cursor:pointer;
}
.write_title_next_btn:before{
	background-image:url(../img/writepage_icon/next_btn.png);
	background-repeat:no-repeat;
	position:absolute;
	content:"";
	width:100px;
	height:100px;
	left:67%;
	bottom:150px;
	opacity:0.2;
	animation: fadein 0.5s;
	-webkit-animation: fadein 0.5s;
}
.write_title_next_btn:hover{
	filter:brightness(60%);
	animation: fadein 0.5s;
	-webkit-animation: fadein 0.5s;
}
/* 상단 에러문구 탑 패널 */
.write_title_error{
	outline:0px;
	color:#FFF;
	text-align:center;
	position:fixed;
	width:100%;
	height:61px;
	top:-100%;
	left:50%;
	z-index:10021;
	background-color:#F57C68;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transition:top 1000ms;
	-webkit-transition:top 1000ms;
}
.write_error_message{
	padding-top:21px;
	display:inline-block;
	font-size:15px;
}
.write_top_error{
	top:0 !important;
}
/* 하단 내용 입력 부분 */
#write_cont{
	background-image:url(../img/background_img/login_page2.png);
	background-repeat:x-repeat;
	height:727px;
}
#write_wrap_bg{
	width:1100px;
	margin:0 auto;
	background-color:#FFF;
}
.write_cont_area{
	width:700px;
	margin:0px auto;
	position:relative;
	padding:40px 0px 115px 0px;
	word-wrap:break-word;
	line-height: 20pt;
}
.write_cont_area::selection{
	background:RGB(245,124,104,0.6);
}
/* 저장 / 취소버튼 fix부분 */
.write_cont_fix_wrap{
	position:fixed;
	width:170px;
	top:91%;
	left:93%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	z-index:10;
}
.write_cont_save{
	width:75px;
	height:30px;
	border-radius:15px;
	border:1px solid #F57C68;
	background-color:rgb(255,255,255,0.6);
	outline:0px;
	cursor:pointer;
}
.write_cont_save:active{
	background-color:#F57C68;
	color:#FFF;
}
.write_cont_cancle{
	width:75px;
	height:30px;
	border-radius:15px;
	border:1px solid #FBA621;
	background-color:rgb(255,255,255,0.6);
	outline:0px;
	cursor:pointer;
}
.write_cont_cancle:active{
	background-color:#FBA621;
	color:#FFF;
}
/* 저장분류 선택창(modal popup) */
.write_choice_wrap{	
	position:absolute;
	top:0;
	left:0;
	background-color:RGB(0,0,0,0.6);
	display:none;
	z-index:10020;
	animation: fadein 1s;
	-webkit-animation: fadein 1s;
}
.write_save_panel{
	text-align:center;
	width:500px;
	height:470px;
	background-color:#FFF;
	margin:auto;
	z-index:10;
	transform:translateY(50%);
	-webkit-transform:translateY(50%);
	animation: fadein 1s;
	-webkit-animation: fadein 1s;
}
.write_save_panel h3{
	padding:15px 0px;
	font-size:17px;
}
.write_save_panel td{
	font-size:14px;
}
.write_save_panel caption{
	padding-top:2px;
	padding-bottom:2px;
	fonx-size:15px;
}
.write_save_choice_panel{
	display:inline-block;
	width:250px;
	margin:0px auto;
	text-align:left;
	border:1px solid #FBAE35;
	padding:5px 20px;
}
.write_type_choice_panel{
	display:inline-block;
	width:250px;
	margin:20px auto 0px auto;
	text-align:left;
	border:1px solid #FBAE35;
	padding:5px 20px;
}
.write_choice_btn_panel{
	margin:25px auto 0px auto;
}
.write_choice_save_btn{
	border:1px solid #F57C68;
	outline:0px;
	width:80px;
	height:30px;
	border-radius:15px;
	background-color:#FFF;
	margin-right:15px;
	cursor:pointer;
}
.write_choice_close_btn{
	border:1px solid #FBA621;
	outline:0px;
	width:80px;
	height:30px;
	border-radius:15px;
	background-color:#FFF;
	margin-left:15px;
	cursor:pointer;
}
.write_choice_save_btn:active{
	background-color:#F57C68;
	color:#FFF;
}
.write_choice_close_btn:active{
	background-color:#FBA621;
	color:#FFF;
}
/* 저장분류 카테고리 선택부 */
#join_membership_category-list{
	width:470px;
	list-style: none;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	margin:0 auto;
	padding:0;
}
.join_membership_category-item{
	margin: 5px 5px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.join_membership_category-item span{
	border:1px solid #F3AAAA;
	width:80px;
	border-radius:30px;
	cursor:pointer;
}
.member_category_check{
	background-color:#F3AAAA;
	color:#FFF;
	border-radius:30px;
}
/* summernote toolbar panel */
.panel-default > .panel-heading.note-toolbar{
	background-color:#FFF;
	border-radius:unset;
}
.note-editor.note-frame .note-statusbar.locked{
	background-color:#FFF;
	border:none;
	border-radius:unset;
}
.note-editor.note-frame.panel-default{
	border:none;
}
/* 페이드인 애니메이션부 */
@keyframes fadein{
	from{ opacity:0; }
	to  { opacity:1; }
}
@-webkit-keyframes fadein{
	from{ opacity:0; }
	to  { opacity:1; }
}
@keyframes fadeout{
	from{ opacity:1; }
	to  { opacity:0; }
}
@-webkit-keyframes fadeout{
    from{ opacity:1; }
    to  { opacity:0; }
}
