<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 <typeAliases>
  <typeAlias type="com.jamong.domain.AccuseVO" alias="ac"/>
  <typeAlias type="com.jamong.domain.AuthorVO" alias="aut"/>
  <typeAlias type="com.jamong.domain.BoardVO" alias="b"/>
  <typeAlias type="com.jamong.domain.BookVO" alias="book"/>
  <typeAlias type="com.jamong.domain.FavoriteVO" alias="fav"/>
  <typeAlias type="com.jamong.domain.InquireVO" alias="inq"/>
  <typeAlias type="com.jamong.domain.MemberVO" alias="m"/>
  <typeAlias type="com.jamong.domain.OfferVO" alias="off"/>
  <typeAlias type="com.jamong.domain.RecommendVO" alias="rec"/>
  <typeAlias type="com.jamong.domain.ReplyVO" alias="rep"/>
  <typeAlias type="com.jamong.domain.SubscribeVO" alias="sub"/> 
  <typeAlias type="com.jamong.domain.SympathyVO" alias="sym"/>  
 </typeAliases>
</configuration>